@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fafafa;
}

::selection {
  background: #a855f7;
  color: #fafafa;
}

html {
  scroll-behavior: smooth;
}
